* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

main {
  background-color: rgba(128, 128, 128, 0.287);
  min-height: 89.4vh;
  padding: 3rem;
}

.section {
  border-radius: 5px;
  min-height: 1px;
  background-color: rgba(128, 128, 128, 0.287);
  padding: 1rem;
  margin-bottom: 1rem;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 15px 15px;
  padding: 5px;
  left: 50%;
  transform: translate(-50%,-0%);
}

.searchContainer > table{
  flex: 1;
}

.searchContainer > table > tr {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 90%;
  
}

.searchContainer > div {
  padding: 3px;
  cursor: pointer;
  border: 1px solid gray;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px ;

}